@using Books.ViewModels

@model CategoryPageContent
@{
    ViewBag.Title = Model.Category.CategoryName +" kitapları";
}
<section class="row">
    <section id="newBooks" class="col-md-12">
        <h4 class="alert alert-info">@Model.Category.CategoryName kategorisindeki en yeni kitaplar</h4>

        @Html.Partial("_BookPartial", Model.NewBooks)
    </section>
    <section id="newBooks2" class="col-md-12">
        <h4 class="alert alert-warning">@Model.Category.CategoryName kategorisindeki tüm kitaplar</h4>
        @Html.Partial("_BookPartial", Model.AllCategoryBooks)
    </section>
</section>