@model BookS.Models.HomePageContainer

@{
    ViewBag.Title = "HomePage of BookS";
}
<hr />
<h4>
    Türkiye'nin en yeni kitap adresi
</h4>
<hr />

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_CategoriesPartial", Model.Categories)
    </div>

    <div class="col-md-9">
        <section id="topsellers">
            @Html.Partial("_BookPartial", Model.TopSellers)
        </section>
    </div>



