@model BookS.Models.HomePageContainer

@{
    ViewBag.Title = "HomePage of BookS";
}

<h2>Index</h2>

<div>
    <h4>HomePageContainer</h4>
    <hr />
</div>
<ul>
    @foreach (var item in Model.Categories)
    {
        <li>
            <a href="/Home/Category/@item.CategoryID">
                @item.CategoryName
            </a>
        </li>
    }
</ul>
<hr />
<section id="topsellers">
        @Html.Partial("_BookPartial",Model.TopSellers)
</section>



